form{
    margin: 50px;
}

body{
    overflow-x: hidden;
}

.enlacea{
    color: whitesmoke;
}
.bia{
    background-image: url(/img/back6.jpg);
}

.bodycon{
    background-image: url(/img/fondo2.jpg);
    background-size: 100% 100%;
}

.letracon{
color: white;
}

.container{
  font-family: cursive;
    padding: 15px;
}

