form{
    margin: 50px;
}

body{
    overflow-x: hidden;
}

.enlacea{
    color: whitesmoke;
}
.bia{
    background-image: url(/img/back6.jpg);
}

.bodycon{
    background-image: url(/img/fondo2.jpg);
    background-size: 100% 100%;
}

.letracon{
color: white;
}

.container{
  font-family: cursive;
    padding: 15px;
}

.bodymar{
    background: radial-gradient(blue , black);
}

.row.row-cols-1.row-cols-md-2.g-4{
    margin-top: 30px;
}

.card-group{
    margin-top: 30px;
}

.footins{
    color: wheat;
    background-color: darkblue;
    margin-top: 30px;
    text-align: center;
}

.footerindex{
    text-align: center;
    font-family: cursive;
    background: cornflowerblue;
    color: cornsilk;
}

.h3footer{
    background: purple;
}

.pfooter{
    background: blue;
}