form{
    margin: 50px;
}

body{
    overflow-x: hidden;
}

.enlacea{
    color: whitesmoke;
}
.bia{
    background-image: url(/img/back6.jpg);
}

.bodycon{
    background-image: url(/img/fondo2.jpg);
    background-size: 100% 100%;
}


.bodynosotros{
    background-image: url(/img/nosotrosfondo.jpg);
    background-size: 100% 100%;
    
}

.divnosotros{
    color: white;
    margin: 15px;
}

.map-responsive {
    overflow:hidden;
    padding-top: 100px;
    padding-bottom:400px;
    position:relative;
    height:0;
}

.letracon{
color: white;
}

.container{
  font-family: cursive;
    padding: 15px;
}

.bodymar{
    background: radial-gradient(blue , black);
}

.row.row-cols-1.row-cols-md-2.g-4{
    margin-top: 30px;
}

.card-group{
    margin-top: 30px;
}



.letracon{
    margin-left: 20px;
}



form {
    font-family: cursive;
    color: aliceblue;
    margin: 30px;
}

.ftcn{
    color: white;
    background: radial-gradient(blue ,black);
    font-family: cursive;
    text-align: center;
}