body{
    background-color: cornflowerblue;
    color:cornsilk;
   
    h3{
        color: purple;
        text-align: center;
        
    
        }        
       
    }

   



p{
    color: whitesmoke;
    font-family: cursive;
    text-align: center;
}


